@import 'all';

.link
{
    margin-top: 5%;
    width: 50%;
    float: left;
}

.linkbtn
{
    width: 100%;
    p{
        font-size: 1.5em;
        padding-top: 15px;
    }
}

.thumbnail{
        .caption{
            img{
            height: 20%;
        }
    }
}