@font-face {
    font-family: NormalFont;
    src: url(./Antwerpen-webfonts/Antwerpen-Regular-webfonts/Antwerpen-Regular.woff);
}

*
{
    font-family: 'NormalFont';
}

#top-white
{
    height: 30px;
}

#top-white p
{
    text-align: right;
    position: relative;
    bottom: 7px;
    right: 24px;
    font-size: 125%;
}

#top-white a
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#head
{
    height: 400px;
}

#havenhuis{
    width: 100%;
}

header{
    height: 428px;
    box-shadow: 0px 10px 10px #888888;
}

h1
{
    width: 50%;
    position: relative;
    font-size: 5.5em;
    left: 40px;
    bottom: 180px;
    color: #fff;
    padding: 0;
    margin: 0;
}

/************NAV************/

.page{}

ul{
    list-style: none;
    height: 60px;
    padding-left: 125px;
}

li a {
    border-bottom: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px;
    margin: 30px;
}

nav{
    height: 60px;
    background-color: rgba(128, 128, 128, 0.67);
    position: relative;
    top: -78px;
}

li{
    padding: 20px;
    opacity: 1.0;
    float: left;
}

li a:hover
{
    color: #7FCAD3;
}





/**********CONTENT**********/

#wrapper{
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 65px;
    
}

.block
{
    height: 200px;
    width: 350px;
    background-color: #d8d8d8;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px #888888;
}

.article
{
    width: 750px;
}

.articlebig
{
    width: 550px;
}

.textvideo
{
    height: 450px;
}

.rightwrapper
{
    float: left;
    height: 450px;
    width: 800px;
}

.textarticle
{
    float: left;
    width: 350px;
    margin: 0 25px;;
}

.imagearticle
{
    float: left;
}

.testimonialtext
{
    margin: 15 25;
}

.biglink
{
    height: 200px;
    width: 750px;
    background-color: #d8d8d8;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px #888888;
}

.smalllink
{
    height: 200px;
    width: 350px;
    background-color: #d8d8d8;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    background-image: url(../../static/img/filler.png);
    box-shadow: 10px 10px 10px #888888;
}

.meer
{
    background-color: #d8d8d8;
    font-size: 2em;
    color: black;
    text-decoration: none;
    float: left;
    width: 200px;
    height: 40px;
    text-align: center;
    box-shadow: 10px 10px 10px #888888;
    margin-left: 525px;
    margin-bottom: 100px;
    padding: 10px 0;
}

.meer:hover
{
    box-shadow: 5px 5px 5px #888888;
}

#leftwrapper
{
    background-color: #d8d8d8;
    box-shadow: 10px 10px 10px #888888;
    width: 750px;
    height: 400px;
    margin-left: 50px;
}

.clearfix:{ clear: both; }