{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'pages/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
<title>Tstadstudeert</title>

<header>
    <div id="top-white">
           <p><a href="#">Aanmelden</a></p>         
       </div>
       <div id="head">
           <img id="havenhuis" src="../../static/img/backheader.png" alt="havenhuis">
           <h1>Tstadstudeert</h1>
       </div>
       <nav>
           <ul>
               <li class="page"><a href="../">home</a></li>
               <li class="page"><a href="../nieuws">nieuws</a></li>
               <li class="page"><a href="../praktisch">praktische info</a></li>
               <li class="page"><a href="../testimonials">testimonials</a></li>
               <li class="page"><a href="../links">links</a></li>
               <li class="page"><a href="">chat</a></li>
               <div class="clearfix"></div>
           </ul>
       </nav>
       <style>
           body{
               font-family: sans-serif, 'Arial';
           }
       </style>
    </header>
<p>CHAT</p>