{% load static %}


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'pages/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pages/home.css' %}" />
<title>Tstadstudeert</title>

<header>
    <div class="head cfx">
        <img class="logo" src="../../static/img/A_logo_312_RGB_NEG.svg" alt="logo">
        <h1>Tstadstudeert</h1>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </div>
    <nav>
           <ul>
               <li class="page"><a href="">home</a></li>
               <li class="page"><a href="../nieuws">nieuws</a></li>
               <li class="page"><a href="../praktisch">praktische info</a></li>
               <li class="page"><a href="../testimonials">testimonials</a></li>
               <li class="page"><a href="../links">links</a></li>
               <li class="page"><a href="../chat">chat</a></li>
           </ul>
        </nav>
        <div class="hero">
    <img class="hero-image" src="../../static/img/backheader.png" alt="havenhuis">
    </div>
</header>
    <main>
       <div class="wrapper">
            <div class="article block">
                <img class="imagearticle" src="../../static/img/news001.png" alt="news01">
                <div class="textarticle">
                    <p>LocatiesBrandweerkazerne: open ruimte op de eerste verdieping van de hoofdkazerne van Brandweer Zone AntwerpenCampus National: een loftachtige locatie van Thomas More hogeschool op 't ZuidCEPA: een volledige vijfde verdieping met zicht op ...</p>
                    <a href="https://www.gate15.be/nl/nieuws/study360-samen-blokken-op-unieke-locaties-in-antwerpen">lees meer</a>
                </div>
            </div>
            
            <div class="block">
                <img src="../../static/img/filler.png" alt="filler">
            </div>
            
            <div class="textvideo block">
                <img src="../../static/img/filler.png" alt="filler">
                <div class="testimonialtext">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet...</p>
                    <a href="">lees meer</a>
                </div>
            </div>
            
            <div class="rightwrapper">
                <div class="block">
                    <p>link</p>
                </div>
                <div class="block">
                    <img src="../../static/img/filler.png" alt="filler">
                </div>
                <div class="article block">
                    <img class="imagearticle" src="../../static/img/filler.png" alt="filler">
                    <div class="textarticle">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet...</p>
                        <a href="">lees meer</a>
                    </div>
                </div>
            </div>
       </div>
    </main>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../static/pages/script.js"></script>
