{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'pages/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />

<header>
   <h1>TSTADSTUDEERT</h1>
    <nav class='cfx'>
        <ul class='cfx'>
            <li><a href="">home</a></li>
            <li><a href="../nieuws">nieuws</a></li>
            <li><a href="../praktisch">praktische info</a></li>
            <li><a href="../testimonials">testimonials</a></li>
            <li><a href="../links">links</a></li>
            <li><a href="../chat">chat</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class='article'></div>
    <div class='video'></div>
    <div class='videotext'></div>
    <div class='rightpart'>
    <div class='link'></div>
    <div class='text'></div>
    <div class='article'></div>
    </div>
</main>
<footer>
    <p>dit moet de footer voorstellen</p>
</footer>