{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pages/praktisch.css' %}" />
<title>Tstadstudeert</title>

<header>
   <div class="static-head">
    <div class="head cfx">
        <img class="logo" src="../../static/img/A_logo_312_RGB_NEG.svg" alt="logo">
        <h1>Tstadstudeert</h1>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </div>
    <nav>
           <ul>
               <li class="page"><a href="../">home</a></li>
               <li class="page"><a href="../nieuws">nieuws</a></li>
               <li class="page"><a href="#" class="active">praktische info</a></li>
               <li class="page"><a href="../testimonials">testimonials</a></li>
               <li class="page"><a href="../links">links</a></li>
<!--               <li class="page"><a href="../chat">chat</a></li>-->
           </ul>
        </nav>
    </div>
    <div class="hero">
        <img class="hero-image" src="../../static/img/backheader.png" alt="havenhuis">
    </div>
</header>
    <main>
       <div class="container">
          <div class="col-sm-12">
             <div class="caption">
                 <p class="info-text">In Antwerpen zijn er vele scholen en nog vele meer studiemogelijkheden te vinden. Benieuwd waar je een bepaalde richting kan doen? Kies uit het menu hieronder en verken het aanbod!</p>
             </div>
                 <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Studierichting
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">separator</a></li>
                      </ul>
                 </div>
           </div>
           <div class="footer">
                
           </div>
          </div>
       </div>
    </main>
</body>
</html>


<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<script src="../../static/pages/script.js"></script>
