{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/praktisch.css' %}" />
    <title>Tstadstudeert</title>
</head>
<body>
<header>
   <div class="static-head">
    <div class="head cfx">
        <a href="../"><img class="logo" src="../../static/img/A_logo_312_RGB_NEG.svg" alt="logo"></a>
        <h1>Tstadstudeert</h1>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </div>
    <section class="side-nav container-fluid">
            <ul class="side-ul nav-pills navbar-nav nav">
                <li class="side-li presentation"><a class="side-a" href="../">home</a></li>
                <li class="side-li presentation"><a class="side-a" href="../nieuws">nieuws</a></li>
                <li class="side-li presentation"><a class="side-a side-active" href="#">praktische info</a></li>
                <li class="side-li presentation"><a class="side-a" href="../testimonials">testimonials</a></li>
                <li class="side-li presentation"><a class="side-a" href="../links">links</a></li>
            </ul>
    </section>
    <nav>
           <ul>
               <li class="page"><a href="../">home</a></li>
               <li class="page"><a href="../nieuws">nieuws</a></li>
               <li class="page"><a href="#" class="active">praktische info</a></li>
               <li class="page"><a href="../testimonials">testimonials</a></li>
               <li class="page"><a href="../links">links</a></li>
<!--               <li class="page"><a href="../chat">chat</a></li>-->
           </ul>
        </nav>
    </div>
    <a href="#" class="game_link">Speel hier</a>
    <div class="hero">
        <img class="hero-image" src="../../static/img/backheader.png" alt="havenhuis">
    </div>
</header>
    <main>
      <div class="center">
           <div class="container-fluid">
          
                     <div class="caption">
                        <div class="bread-div">
                             <p class="breadcrumbs">Praktische info</p>
                        </div>
                         <p class="info-text">In Antwerpen zijn er vele scholen en nog vele meer studiemogelijkheden te vinden. Benieuwd waar je een bepaalde richting kan doen? Kies uit het menu hieronder en verken het aanbod!</p>
                     </div>
                         <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                               {% if studyID == 0 %}
                                Studierichting
                                {% endif %}
                                {% if studyID != 0 %}
                                {{studyobj.study_name}}
                                {% endif %}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                               {% for study in studies %}
                                <li><a href="/praktisch/?id={{study.study_id}}">{{study.study_name}}</a></li>
                                {% endfor %}
                              </ul>
                         </div>
                         {% if studyID != 0 %}
                         <p class="study_info">{{studyobj.study_info}}</p>
                         <h2 class="study_school_name">{{studyobj.study_school_name}}</h2>
                         <p class="school_info">{{schoolobj.school_info}}</p>
                         <h2 class="campus_name">{{studyobj.study_campus_name}}</h2>
                         <div class="campus_info">
                             <p>{{campusobj.campus_info}}</p>
                             <img class="campus_img" src="../../static/img/{{campusobj.campus_image}}" alt="campus">
                         </div>
                         {% endif %}
           </div>
          </div>
       </div>
    </main>
    <footer>
    <p> .</p>
    <p> .</p>
    <p> .</p>
    <p> .</p>
    <p> .</p>
    <p> .</p>
    </footer>
</body>
</html>


<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<script src="../../static/pages/script.js"></script>
